@import "tailwindcss";

/* You can add global styles below */
h2 {
  margin-top: 0.5em;
}

h3 {
  margin-top: 1em;
}

p {
  white-space: pre-line;
}

input:disabled {
  background-color: transparent;
  border-color: transparent;
  cursor: not-allowed;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}