@import "tailwindcss";

/* You can add global styles below */
h2 {
  margin-top: 0.5em;
}

h3 {
  margin-top: 1em;
}

p {
  white-space: pre-line;
}

input:disabled {
  background-color: transparent;
  border-color: transparent;
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

img {
  image-rendering: pixelated;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.highlight {
  background-color: darkorchid;
}

.checkerboard {
  background-color: #7a7a7a;
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0.35)),
    linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0.35));
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}